<%= "Others with the #{k.to_s} number #{@chump.consonant.last}:" %>

<ul>
  <% @kindred[k].each do |l|%>
    <li>
    	<%= l.name %>
    </li>
	<li>
    	<%= l.birthday %>
	</li>
	<li>
    	<%= l.whole_name.last %>
	</li>
	<li>
    	<%= l.consonant.last %>
	</li>
	<li>
    	<%= l.vowel.last %>
	</li>
	<li>
    	<%= l.birthdate.last %>
	</li>

  <% end %>
</ul>