<% settings.chump ||= Person.new("","").create_profile %>
<h3>Numbers for <%= settings.chump.name %>, born on <%= settings.chump.birthday %></h3>

<% [:whole_name, :vowel, :consonant, :birthdate].each do |k| %>
  <ul>
    <li><%= "#{k.to_s.gsub('_',' ').capitalize}: #{settings.chump[k].last}" %>.<br></li>
  </ul>
<%end%>
    
<% [:whole_name, :vowel, :consonant, :birthdate].each do |k| %>
  <%= "Others with the #{k.to_s} number #{settings.chump[k].last}:" %>
  <ul>
    <% settings.kindred[k].each do |l|%>
      <li>
        <%= l.name %>
      </li>
      <ul>
        <li>
          Birthday: <%= l.birthday %>
        </li>
        <li>
          Whole name: <%= l.whole_name.last %>
        </li>
        <li>
          Consonant: <%= l.consonant.last %>
        </li>
        <li>
          Vowel: <%= l.vowel.last %>
        </li>
        <li>
          Birthdate: <%= l.birthdate.last %>
        </li>
      </ul>

    <% end %>
  </ul>
<%end%>


